//fonts
@font-face {
  font-family: 'Muli-Light';
  src: local('Muli Light'), local('Muli-Light'), url('../fonts/Mulilight.woff2') format('woff2'), url('../fonts/Mulilight.woff') format('woff'), url('../fonts/Mulilight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Regular';
  src: local('Muli Regular'), local('Muli-Regular'), url('../fonts/Muliregular.woff2') format('woff2'), url('../fonts/Muliregular.woff') format('woff'), url('../fonts/Muliregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-SemiBold';
  src: local('Muli SemiBold'), local('Muli-SemiBold'), url('../fonts/Mulisemibold.woff2') format('woff2'), url('../fonts/Mulisemibold.woff') format('woff'), url('../fonts/Mulisemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Italic';
  src: local('Muli Italic'), local('Muli-Italic'), url('../fonts/Muliitalic.woff2') format('woff2'), url('../fonts/Muliitalic.woff') format('woff'), url('../fonts/Muliitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Muli-ExtraLightItalic';
  src: local('Muli ExtraLight Italic'), local('Muli-ExtraLightItalic'), url('../fonts/Muliextralightitalic.woff2') format('woff2'), url('../fonts/Muliextralightitalic.woff') format('woff'), url('../fonts/Muliextralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Muli-ExtraBoldItalic';
  src: local('Muli ExtraBold Italic'), local('Muli-ExtraBoldItalic'), url('../fonts/Muliextrabolditalic.woff2') format('woff2'), url('../fonts/Muliextrabolditalic.woff') format('woff'), url('Muliextrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'MuliExtraBold';
  src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url('../fonts/Muliextrabold.woff2') format('woff2'), url('../fonts/Muliextrabold.woff') format('woff'), url('../fonts/Muliextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'MuliLightItalic';
  src: local('Muli Light Italic'), local('Muli-LightItalic'), url('../fonts/Mulilightitalic.woff2') format('woff2'), url('../fonts/Mulilightitalic.woff') format('woff'), url('../fonts/Mulilightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MuliBlack';
  src: local('Muli Black'), local('Muli-Black'), url('../fonts/Muliblack.woff2') format('woff2'), url('../fonts/Muliblack.woff') format('woff'), url('../fonts/Muliblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MuliExtraLight';
  src: local('Muli ExtraLight'), local('Muli-ExtraLight'), url('../fonts/Muliextralight.woff2') format('woff2'), url('../fonts/Muliextralight.woff') format('woff'), url('../fonts/Muliextralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'MuliBoldItalic';
  src: local('Muli Bold Italic'), local('Muli-BoldItalic'), url('../fonts/Mulibolditalic.woff2') format('woff2'), url('../fonts/Mulibolditalic.woff') format('woff'), url('../fonts/Mulibolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MuliSemiBoldItalic';
  src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'), url('../fonts/Mulisemibolditalic.woff2') format('woff2'), url('../fonts/Mulisemibolditalic.woff') format('woff'), url('../fonts/Mulisemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'MuliBold';
  src: local('Muli Bold'), local('Muli-Bold'), url('../fonts/Muli-Bold.eot') format('eot'), url('../fonts/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuliBlacItalic';
  src: local('Muli Black Italic'), local('Muli-BlackItalic'), url('../fonts/Muliblackitalic.woff2') format('woff2'), url('../fonts/Muliblackitalic.woff') format('woff'), url('../fonts/Muliblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//variables

$acc-color: #363740;
$body-color: #252733;

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Muli-Regular", sans-serif;
  font-size: 16px;
  color: $body-color;
  background-color: #F7F8FC;
}

a {
  text-decoration: none;
  font-family: inherit;
}

input, select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  padding-left: 12px;
}

input:focus, button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label {
  padding: 12px 0;
  color: #858585;
  font-family: "Muli-Regular", sans-serif;
  font-size: 14px;
}

.credit-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 8px;
  box-shadow: none;
  border: none;
}

.credit-cell {
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.button, a.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "MuliBold", sans-serif;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  background: -o-linear-gradient(270.57deg, #3751FF -13.56%, #3751FF 158.28%, #281AC8 158.3%);
  background: linear-gradient(179.43deg, #3751FF -13.56%, #3751FF 158.28%, #281AC8 158.3%);
  border-radius: 100px;
  margin: 30px 0;
  border: none;
}

.hint-text {
  font-size: 10px;
  color: #000000;
  margin: 10px 0;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 41px 0 41px 10.5%;
  img {
    margin-right: 12px;
  }
  .logo__text {
    font-family: 'MuliBold', sans-serif;
    color: #A4A6B3;
    font-size: 19px;
  }
}

.sidebar {
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18.8%;
  height: 100%;
  min-height: 100vh;
  background-color: $acc-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .nav__item {
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #DDE2FF;
      font-family: 'Muli-Regular', sans-serif;
      font-size: 16px;
      padding: 18px 0 18px 10%;
      opacity: 0.5;
      svg {
        width: 20px;
        margin-left: 5px;
        margin-right: 20px;
      }
      &.active {
        opacity: 1;
        background-color: rgba(159, 162, 180, 0.15);
        &:before {
          content: '';
          position: absolute;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: #F7F8FC;
        }
      }
    }
    .nav__divider {
      width: 100%;
      height: 1px;
      margin: 16px 0;
      background-color: rgba(159, 162, 180, 0.2);
    }
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 82.2%;
  padding: 0 2%;
  margin-left: 18.8%;
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0 40px 0;
    h1 {
      font-family: 'MuliBold', sans-serif;
      font-size: 24px;
      color: $body-color;
    }
    .account-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .message-icon {
        z-index: 1;
        position: relative;
        color: #C5C7CD;
        font-size: 16px;
        cursor: pointer;
        &.no-visible {
          z-index: -1;
        }
        .true {
          position: absolute;
          top: 0;
          right: 0;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: #3751FF;
          border: 1px solid white;
        }
      }
      .header__divider {
        height: 32px;
        width: 2px;
        background: #C5C7CD;
        margin: 0 32px;

      }
      .user {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: "Muli-SemiBold", sans-serif;
        font-size: 14px;
        color: $body-color;
        letter-spacing: 0.2px;
        .user__photo {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -o-object-fit: cover;
          object-fit: cover;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #C5C7CD;
          box-shadow: 0 0 0 3px #fff, 0 0 0 4px #C5C7CD;
          border-radius: 100%;
          overflow: hidden;
          width: 44px;
          margin-left: 15px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .content__message {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 35px 0;
      border-radius: 8px;
      background-color: white;
      margin-bottom: 20px;
    }
    &.login {
      background-color: transparent;
      margin-top: 0;
    }
    h2 {
      font-family: "Muli-Regular", sans-serif;
      color: #9FA2B4;
      font-size: 19px;
      line-height: 1.5;
      letter-spacing: 0.4px;
      font-weight: bold;
    }
    p {
      font-family: "Muli-Regular", sans-serif;
      color: $body-color;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.4px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      max-width: 600px;
      &.p-message {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 20px;
      }
    }
    .alert-notice {
      font-size: 16px;
      color: #f44336;
    }
    &.card-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 32px 7%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 15px;
      .card-block__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        .card__type {
          font-family: "MuliBold", sans-serif;
          font-size: 24px;
          line-height: 1.5;
          text-align: center;
          letter-spacing: 1px;
          color: #000000;
          margin-bottom: 15px;
        }
        img {
          max-width: 135px;
          margin-right: 50px;
        }
      }
      .card__status {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 6px 12px;
        text-transform: uppercase;
        color: white;
        font-family: "MuliBold", sans-serif;
        font-size: 11px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        border-radius: 100px;
        letter-spacing: 0.5px;
        &.no-active {
          background-color: #F12B2C;
          &:before {
            content: 'no active';
          }
        }
        &.active {
          background-color: #11D030;
          &:before {
            content: 'active';
          }
        }
      }
      a.button {
        width: 134px;
      }
      .card-block__btn {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: transparent;
        border: 1px solid #474747;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 100px;
        font-family: "MuliExtraBold", sans-serif;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #212121;
        padding: 12px 25px;
        width: 134px;
      }
    }
    &.form-block {
      background-color: transparent;
    }
    &.settings {
      background-color: transparent;
      h2 {
        font-family: 'MuliBold', sans-serif;
        font-size: 24px;
        color: #252733;
        text-align: center;
      }
      .input-box {
        margin-bottom: 0;
        max-width: 416px;
      }
    }
    &.kyc-attention {
      h2 {
        color: #FF0909;
      }
    }
    &.kyc-passed {
      h2 {
        color: #28EC17;
      }
    }
  }
}
form {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 800px;
  margin-top: 20px;
  h2 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: black!important;
  }
  .fieldset {
    width: 100%;
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 20px;
    .input-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 20px;
      .input-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 49%;
      }
      .input-col {
        h2 {
          margin-bottom: 15px;
        }
        width: 49%;
        .input-box {
          width: 100%;
        }
      }
    }

    .file-upload input {
      padding: 12px;
    }
    .cell-box {
      select {
        width: 49%;
      }
      input {
        width: 49%;
      }
    }
  }
}
.menu-icon {
  display: none;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 90%;
  max-width: 534px;
  background: #fff;
  border-radius: 8px;
  z-index: 99999;
  opacity: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  .popup__caption {
    font-family: "Muli-Light", sans-serif;
    font-size: 24px;
    color: #646464;
    letter-spacing: 1px;
    text-align: center;
    margin: 15px 0;
    margin-bottom: 30px;
  }
  .input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 390px;
    position: relative;
    label {
      font-family: "Muli-SemiBold", sans-serif;
      font-size: 12px;
      color: #0D0D0D;
      letter-spacing: 0.4px;
      margin: 15px 0;
      margin-top: 30px;
    }
    input, select {
      border: 1px solid #F0F0F0;
      border-radius: 10px;
      height: 50px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-left: 20px;
      padding-right: 40px;
      &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .copy-button {
      position: absolute;
      right: 15px;
      bottom: 14px;
      background-color: transparent;
      width: 20px;
      height: 30px;
      border:none;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
  }
  .img-qr {
    margin-top: 20px;
  }
  .important-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 390px;
    span {
      font-family: "MuliBold", sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: #FF7D05;
      margin-top: 30px;
    }
    p {
      font-family: "Muli-Regular", sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: #000000;
      margin-top: 10px;
      line-height: 1.5;
    }
  }
  a.button {
    background: -o-linear-gradient(270.57deg, #6979E3 -13.56%, #545ADA 42.89%, #281AC8 158.3%);
    background: linear-gradient(179.43deg, #6979E3 -13.56%, #545ADA 42.89%, #281AC8 158.3%);
    text-transform: uppercase;
    min-width: 134px;
  }
  p {
    margin: 30px 0;
  }
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
}.popup-fade {
   display: none;
 }
.popup-fade:before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}

.login {
  margin-top: 50px;
  .logo {
    width: max-content;
    padding: 40px 0;
  }
}

.login form {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.74);
  overflow: hidden;
  padding-bottom: 20px;
  width: 90%;
  max-width: 440px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.2);
  box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.2);
  .header {
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    height: 110px;
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    font-family: "MuliBold", sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: #646464;
  }
  .input-box {
    margin-top: 15px;
    width: 100%;
    max-width: 308px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 50px;
    input {
      border: none;
      background: #F7F9FA;
      display: block;
      padding: 19px;
      width: 100%;
      outline: none;
      margin: 1px auto;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: #333;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 8px;
    }
    label {
      margin-bottom: 10px;
    }
  }
  .input-forget {
    display: none;
    margin-top: 20px;
    input {
      margin-bottom: 20px;
    }
  }
}

.link-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 380px;
  .link-text {
    margin-top: 30px;
    font-size: 12px;
    color: #646464;
    font-family: "Muli-Regular", sans-serif;
    letter-spacing: 0.8px;
  }
}

.login form .input-info, .login form .reg-info  {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input-settings {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
}

.input-box {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}

.login form input:focus {
  background: #ddd;
  border-radius: 5px;
  border: 0;
}

.login form button {
  margin: auto;
  margin-bottom: 45px;
  font-weight: 700;
}

.login form .link-text {
  color: #000;
  font-size: 19px;
  margin: auto;
  text-align: center;
  line-height: 2.3;
}

.login form .terms {
  margin-right: 20px;
  font-weight: bold;
  color: #01aef2;
  font-size: 10px;
  float: right;
  margin-top: 4px;
}

form.registration {
  display: none;
}
@media screen and (max-width: 990px) {
  .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sidebar {
    -webkit-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
    height: 60px;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    nav {
      display: none;
      &.nav-mobile--show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #252733;
        z-index: 10;
        -webkit-animation: menu-show 0.5s ease;
        animation: menu-show 0.5s ease;
        .nav__item {
          padding-left: 15px;
        }
      }
    }
    .logo {
      width: 150px;
      padding: 0;
    }
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    span {
      width: 100%;
      height: 4px;
      background-color: white;
    }
    &.open {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      span {
        &.line {
          display: none;
        }
        &.line-top {
          -webkit-transform: rotate(-45deg) translate(-2px, 3px);
          -ms-transform: rotate(-45deg) translate(-2px, 3px);
          transform: rotate(-45deg) translate(-2px, 3px);

        }
        &.line-bottom {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
  .main-section {
    .header {
      margin-top: 60px;
    }
    margin-left: 0;
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .content {
      p {
        font-size: 14px;
      }
    }
  }
  @-webkit-keyframes menu-show {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes menu-show {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .main-section {
    .content {
      &.card-block {
        padding: 15px;
        .card-block__img {
          img {
            max-width: 95px;
            margin-right: 15px;
          }
          .card__type {
            font-size: 18px;
            line-height: 1;
            text-align: left;
          }
        }
      }
    }
  }
  form {
    .fieldset {
      .input-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .input-box {
          width: 90%;
        }
        .input-col {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .main-section {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      h1 {
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    .content {
      &.card-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        .card-block__btn, .replenish-open {
          -ms-flex-item-align: end;
          align-self: flex-end;
          margin-top: 25px;
        }
      }
    }
  }
  .popup {
    margin-top: 50px;
  }
}

